{% extends "../LoginBase.html" %}

{% block style %}
<style>
    .valid{
        color: green;
    }

    .invalid{
        color: red;
    }

    #messageNew{
        display: none;
    }
</style>
{% endblock %}
{% block quote %}
<h2 style="color: #000;">Democratising</h2>
<h2 style="color: #000;"> life insurance so that</h2>
<h2 style="color: #000;">nobody gets left behind.</h2>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-9">
        <h5 class="text-large" style="color: black;">Change Password</h5>
    </div>
    <div class="col-3">
        <button onclick="history.back()" class="btn btn-outline-primary" style="margin: 0px; text-transform: none;">Back</button>
    </div>
</div>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label text-capitalize">Email</label>
        <input id="companyEmail" name="companyEmail" type="text" class="form-control" value="{{ email }}" disabled>
    </div>
    <div class="mb-3 form-password-toggle">
        <div class="input-group input-group-dynamic mb-3 input-group-merge">
            <label class="form-label text-capitalize">Old Password <b style="color: red;">*</b></label>
            <input id="passwordOld" name="old_password" class="form-control" type="password" required>
            <span role="button" onclick="toggleIcon()"><i class="bx bx-hide" onclick="toggleIcon()" aria-hidden="true" id="icon"></i></span>
        </div>
    </div>
    <div class="mb-3 form-password-toggle">
        <div class="input-group input-group-dynamic mb-3 input-group-merge">
            <label class="form-label text-capitalize">New Password <b style="color: red;">*</b></label>
            <input id="passwordNew" name="new_password" class="form-control" type="password" oninput="validatePassword()" onfocus="showMessage()" required>
            <span role="button" onclick="toggleIcon()"><i class="bx bx-hide" onclick="toggleIcon()" aria-hidden="true" id="icon"></i></span>
        </div>
        <div class="input-group input-group-dynamic mb-3 input-group-merge">
            <label class="form-label text-capitalize">New Password Confirmation<b style="color: red;">*</b></label>
            <input id="confirm-passwordNew" name="password" class="form-control" type="password" oninput="confirmPassword()" required>
        </div>
        <div>
            <label id="confirm" class="invalid" style="display:none;">"New Password Confirmation" does not match with "New Password" field.</label>
        </div>
        <div id="message" style="display: none;">
            <h10>Password must contain the following:</h10><br>
            <label id="length" class="invalid">Minimum of 8 characters</label><br>
            <label id="digit" class="invalid">At least one digit</label><br>
            <label id="lowercase" class="invalid">At least one lowercase</label><br>
            <label id="uppercase" class="invalid">At least one uppercase</label><br>
            <label id="special" class="invalid">At least one non-alphanumeric character</label><br>
        </div>
    </div>
    <button type="submit" class=" input-group btn btn-primary btn-block text-capitalize mt-3 mb-2 rounded-pill shadow-sm" id="newPasswordBtn" disabled>Save</button>

</form>
{% endblock %}

{% block javascript %}
<script>
    function toggleIcon(){
        var iconType = document.getElementById("passwordNew");
        var iconType2 = document.getElementById("confirm-passwordNew");
        if (iconType.type == "password") {
            iconType.type = "text";
            iconType2.type = "text";
        } else {
            iconType.type = "password";
            iconType2.type = "password";
        }
    }

    function validatePassword(){
        var inputPassword = document.getElementById("passwordNew");

        var Digit = /[0-9]/g;
        var Lowercase = /[a-z]/g;
        var Uppercase = /[A-Z]/g;
        var Special = /[!@#\$%\^&\*\(\)\[\]\.\|\+\?\{\}\\\/_\,\<\>`\~ ]/g;

        var length = document.getElementById("length");
        var digit = document.getElementById("digit");
        var lowercase = document.getElementById("lowercase");
        var uppercase = document.getElementById("uppercase");
        var special = document.getElementById("special");
        
        if(inputPassword.value.match(Digit)) {
            digit.classList.remove("invalid");
            digit.classList.add("valid");
        } else {
            digit.classList.remove("valid");
            digit.classList.add("invalid");
        }

        if(inputPassword.value.match(Lowercase)) {
            lowercase.classList.remove("invalid");
            lowercase.classList.add("valid");
        } else {
            lowercase.classList.remove("valid");
            lowercase.classList.add("invalid");
        }

        if(inputPassword.value.match(Uppercase)) {
            uppercase.classList.remove("invalid");
            uppercase.classList.add("valid");
        } else {
            uppercase.classList.remove("valid");
            uppercase.classList.add("invalid");
        }

        if(inputPassword.value.match(Special)) {
            special.classList.remove("invalid");
            special.classList.add("valid");
        } else {
            special.classList.remove("valid");
            special.classList.add("invalid");
        }

        if(inputPassword.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }

        criteriaCheck();
        confirmPassword();
        
    }

    function confirmPassword() {
        var password = document.getElementById("passwordNew");
        var confirm = document.getElementById("confirm-passwordNew");

        if(confirm.value == password.value) {
            document.getElementById("confirm").style.display = "none";
        } else {
            document.getElementById("confirm").style.display = "block";
        }

        criteriaCheck();
    }

    function criteriaCheck() {
        if( document.getElementById("digit").classList.contains("valid") && 
        document.getElementById("lowercase").classList.contains("valid") && 
        document.getElementById("uppercase").classList.contains("valid") && 
        document.getElementById("special").classList.contains("valid") && 
        document.getElementById("length").classList.contains("valid")) {
            if(document.getElementById("passwordNew").value == document.getElementById("confirm-passwordNew").value) {
                document.getElementById("newPasswordBtn").disabled = false;
            } else {
                document.getElementById("newPasswordBtn").disabled = true;
            }
        } else {
            document.getElementById("newPasswordBtn").disabled = true;
        }
    }

    function showMessage() {
        document.getElementById("message").style.display = "block";
    }

    function hideMessage() {
        document.getElementById("message").style.display = "none";
    }
</script>
{% endblock %}