{% extends "../LoginBase.html" %}
{% block quote %}
<h2 style="color: #000;">Democratising</h2>
<h2 style="color: #000;"> life insurance so that</h2>
<h2 style="color: #000;">nobody gets left behind.</h2>
{% endblock %}
{% block content %}
<h5 class="text-large" style="color: black;">Sign In</h5>
<p>New To DearTime? <a href="{{host_address}}/sign-up" style="color: #3498DB;"><u>Sign up for an account.</u></a></p>

<div class="alert alert-success alert-dismissible" role="alert">
    Successfully sent.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<form>
<div class="input-group input-group-dynamic mb-2">
    <label class="form-label text-capitalize">Email Address</label>
    <input id="email" type="email" class="form-control" >
</div>
<div class="input-group input-group-dynamic mb-4">
    <label class="form-label text-capitalize">Password</label>
    <span class="input-group-text"><i class="bx bx-show" aria-hidden="true"></i></span>
    <input id="password" class="form-control" type="password">
</div>
    <button type="submit" class=" input-group btn btn-primary btn-block text-capitalize mt-3 mb-2 rounded-pill shadow-sm">Sign in</button>
<div class="text-center d-flex justify-content-between mt-4"><a href="{{host_address}}/reset-password" class="text-muted">Forget password?</a></div>
</form>
{% endblock %}