{% extends "../LoginBase.html" %}
{% block quote %}
<h2 style="color: #000;">Democratising</h2>
<h2 style="color: #000;"> life insurance so that</h2>
<h2 style="color: #000;">nobody gets left behind.</h2>
{% endblock %}
{% block content %}
<h5 class="text-large" style="color: black;">Reset Password</h5>

<form method="POST" action="{{host_address}}/reset-password">
    {% csrf_token %}
    <div class="input-group input-group-dynamic mb-2">
        <input type="email" id="email_address" name="email_address" class="form-control" placeholder="Email Address" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-3 mb-2 text-capitalize rounded-pill shadow-sm">Reset Password</button>
    <div class="text-center d-flex justify-content-between mt-4"><a href="{{host_address}}" class="text-muted">Back</a></div>
</form>
{% endblock %}