{% extends "../LoginBase.html" %}

{% block style %}
<style>
    .valid{
        color: green;
    }

    .invalid{
        color: red;
    }

    #messageNew{
        display: none;
    }
</style>
{% endblock %}
{% block quote %}
<h2 style="color: #000;">Democratising</h2>
<h2 style="color: #000;"> life insurance so that</h2>
<h2 style="color: #000;">nobody gets left behind.</h2>
{% endblock %}
{% block content %}
<h5 class="text-large" style="color: black;">New Password</h5>
<form method="POST" action="{{host_address}}/set-new-password">
    {% csrf_token %}
    <input type="hidden" name="email" id="email" value="{{email}}">
    <div class="mb-3 form-password-toggle">
        <div class="input-group input-group-dynamic mb-3 input-group-merge">
            <input id="passwordNew" name="password" class="form-control" name="password" type="password" placeholder="Password" oninput="validatePassword()" onfocus="showMessage()" onblur="hideMessage()" required>
            <span role="button" onclick="toggleIcon()"><i class="bx bx-hide" onclick="toggleIcon()" aria-hidden="true" id="icon"></i></span>
        </div>
        <div class="input-group input-group-dynamic mb-3 input-group-merge">
            <input id="confirm-passwordNew" name="password" class="form-control" name="password" type="password" placeholder="Confirm Password" oninput="confirmPassword()" required>
        </div>
        <div>
            <label id="confirmNew" class="invalid" style="display: none;">"Confirm Password" must match the "Password" field.</label>
        </div>
        <div id="messageNew">
            <h10>Password must contain the following:</h10><br>
            <label id="lengthNew" class="invalid">Minimum of 8 characters</label><br>
            <label id="digitNew" class="invalid">At least one digit</label><br>
            <label id="lowercaseNew" class="invalid">At least one lowercase</label><br>
            <label id="uppercaseNew" class="invalid">At least one uppercase</label><br>
            <label id="specialNew" class="invalid">At least one non-alphanumeric character</label><br>
        </div>
    </div>
    <button type="submit" class=" input-group btn btn-primary btn-block text-capitalize mt-3 mb-2 rounded-pill shadow-sm" id="newPasswordBtn" disabled>Set New Password</button>

</form>
{% endblock %}

{% block javascript %}
<script>
    function toggleIcon(){
        var iconType = document.getElementById("passwordNew");
        var iconType2 = document.getElementById("confirm-passwordNew");
        if (iconType.type == "password") {
            iconType.type = "text";
            iconType2.type = "text";
        } else {
            iconType.type = "password";
            iconType2.type = "password";
        }
    }

    function validatePassword(){
        var inputPassword = document.getElementById("passwordNew");

        var Digit = /[0-9]/g;
        var Lowercase = /[a-z]/g;
        var Uppercase = /[A-Z]/g;
        var Special = /[!@#\$%\^&\*\(\)\[\]\.\|\+\?\{\}\\\/_\,\<\>`\~ ]/g;

        var length = document.getElementById("lengthNew");
        var digit = document.getElementById("digitNew");
        var lowercase = document.getElementById("lowercaseNew");
        var uppercase = document.getElementById("uppercaseNew");
        var special = document.getElementById("specialNew");
        
        if(inputPassword.value.match(Digit)) {
            digit.classList.remove("invalid");
            digit.classList.add("valid");
        } else {
            digit.classList.remove("valid");
            digit.classList.add("invalid");
        }

        if(inputPassword.value.match(Lowercase)) {
            lowercase.classList.remove("invalid");
            lowercase.classList.add("valid");
        } else {
            lowercase.classList.remove("valid");
            lowercase.classList.add("invalid");
        }

        if(inputPassword.value.match(Uppercase)) {
            uppercase.classList.remove("invalid");
            uppercase.classList.add("valid");
        } else {
            uppercase.classList.remove("valid");
            uppercase.classList.add("invalid");
        }

        if(inputPassword.value.match(Special)) {
            special.classList.remove("invalid");
            special.classList.add("valid");
        } else {
            special.classList.remove("valid");
            special.classList.add("invalid");
        }

        if(inputPassword.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }

        criteriaCheck();
        
    }

    function confirmPassword() {
        var password = document.getElementById("passwordNew");
        var confirm = document.getElementById("confirm-passwordNew");

        if(confirm.value == password.value) {
            document.getElementById("confirmNew").style.display = "none";
        } else {
            document.getElementById("confirmNew").style.display = "block";
        }

        criteriaCheck();
    }

    function criteriaCheck() {
        if( document.getElementById("digitNew").classList.contains("valid") && 
        document.getElementById("lowercaseNew").classList.contains("valid") && 
        document.getElementById("uppercaseNew").classList.contains("valid") && 
        document.getElementById("specialNew").classList.contains("valid") && 
        document.getElementById("lengthNew").classList.contains("valid")) {
            if(document.getElementById("passwordNew").value == document.getElementById("confirm-passwordNew").value) {
                document.getElementById("newPasswordBtn").disabled = false;
            } else {
                document.getElementById("newPasswordBtn").disabled = true;
            }
        } else {
            document.getElementById("newPasswordBtn").disabled = true;
        }
    }

    function showMessage() {
        document.getElementById("messageNew").style.display = "block";
    }

    function hideMessage() {
        document.getElementById("messageNew").style.display = "none";
    }
</script>
{% endblock %}