{% extends "../Base.html" %}
{% block title %}
<title>DearTime | Company Registration</title>
{% endblock %}
{% block css %}
<style>
</style> 
{% endblock %}
{% block content %}
<div class="container-xxl flex-grow-1" style="padding: 0px;">
    <div class="content-wrapper mt-3">
        <div class="container" style="margin: 0px; max-width: 1920px;">
            <h4>Verifying Application</h4>
            <p style="margin:0px; color: #57534E;">The process should take between 2 - 3 working days.</p>
            <p style="color: #57534E;">You will be notified via this email address: <a href="mailto:{{ company_info.email_address }}" style="color: #3498DB;">{{ company_info.email_address }}</a>.</p>
        </div>
        <hr>
        <div class="container my-3">
            <div class="card-header mb-4 text-center">
                <h5 class="mb-0">{{ company_info.company_name }}</h5>
                <p>{{ company_info.registration_no }}</p>
            </div>
            <div class="container-sm">
                <div class="mx-12">
                    <h6 class="text-center">Thank you for submitting your information. Our team is now processing your request and we appreciate your patience as we work to complete it. We will be in touch with you as soon as possible with an update on the status of your request. Thank you for your understanding and cooperation.</h6>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-primary mx-3" style="margin: 0px; text-transform: none;" href="{{host_address}}/edit-company-account/{{companySalt}}">Edit Company Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footerContent %} 

{% endblock %}
{% block javascript %}
<script>
  // document.addEventListener("DOMContentLoaded", async function(event) {
  //   document.getElementById("L1").setAttribute("class", "menu-item active")
  // })
</script>
{% endblock %}
